<nav class=" navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <div class="row container-fluid">
    <div class="offset-x-3 col-xl-4 ">
      <a href="#" class="navbar-brand ">
        <img src="../../assets/img/MainLogo.png" height="50" width="50" alt="logo"/>
      </a>
    </div>
    <div class="col-xl-8">
      <ul class="Navigation container-fluid">


        <li class="   nav-item active">
          <a href="#" class="nav-link">Top</a>
        </li>
        <li class="  nav-item ">
          <a href="#" class="nav-link">New</a>
        </li>
        <li class="  nav-item ">
          <a href="#" class="nav-link">Show</a>
        </li>
        <li class="  nav-item">
          <a href="#" class="nav-link">Ask</a>
        </li>
        <li class="   nav-item">
          <a href="#" class="nav-link">Jobs</a>
        </li>
      </ul>
    </div>
  </div>


</nav>
