.ActivePnt {
  background-color: rgba(8, 8, 8, 0.22);
  font-weight: bold;
  border-radius: 6px;
}
.nav-link {
  margin: 7px 9px;
}
.nav-link:hover {
}
.Logo {
  border-radius: 3px;
  margin: 0px 2px;
  background-color: rgb(20, 255, 44);
}
