<app-navbar></app-navbar>
<div class="container Mycontainer">
  <div class="List" *ngFor="let rez of ArrList">
    <div class="MainTempl">
      <div class="col-sm-12 title">
        <a href="{{rez.url}}"><h4 class="">{{rez.title}}</h4></a>
        <hr>
      </div>
      <div class="row TemplBott align-items-center">
        <div class="col-sm-6 row">
          <h6 style="padding-left: 15px;"> By <span style="color: #595959; ">{{rez.by}}</span></h6>
          <h6 style="font-weight: 700; padding: 0px 5px;">| </h6>
          <div class="comments">
            <div *ngIf="rez.descendants == '0' || rez.descendants == undefined ; else Comments">
              <a class="comments" routerLink="/comments" [queryParams]="{'id': rez.id }"><h6> Discuss </h6></a>
            </div>
            <ng-template #Comments>
              <a class="comments" routerLink="/comments" [queryParams]="{'id': rez.id}"><h6> {{rez.descendants}}
                comments</h6></a>
            </ng-template>
          </div>
        </div>
        <div class="justify-content-center col-sm-4 time text-sm-right">
          <h5>{{rez.time}}</h5>
        </div>
        <div class="store row">
          <img src="../../assets/img/_ionicons_svg_md-star.svg" alt="star Icon">
          <h4>{{rez.score}}</h4>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="foter">
  <div class="pgcontainer">
    <div *ngIf="innerWidth > 700; else adaptive" >
      <ngb-pagination class="d-flex justify-content-center" [collectionSize]="collectionSize" [maxSize]="5"
                      [pageSize]="pageSize" [(page)]="page" [rotate]="true" (pageChange)="change()"></ngb-pagination>
    </div>
    <ng-template #adaptive>
      <ngb-pagination class="d-flex justify-content-center" [collectionSize]="collectionSize" [maxSize]="3"
                      [pageSize]="pageSize" [(page)]="page" [rotate]="true" (pageChange)="change()"></ngb-pagination>
    </ng-template>
  </div>
</div>
