<nav class="navbar navbar-expand-sm navbar-dark bg-dark sticky-top">
  <a routerLink="/topstories/1" class="offset-2 navbar-brand">
    <img class="Logo" src="../../assets/img/MainLogo.png" alt="logo" height="50" width="50"/></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item MarginItems" *ngFor="let items of MenuItems">
        <div class="MenuItems">
          <span class="MenuSpan" routerLink="/{{items.storyType}}/" routerLinkActive="Active">
          </span>
          <a class="default nav-pills" routerLink="/{{items.storyType}}/1" >{{items.PageName}}</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
