.Active{
  background-color: #569851;
  color: white;
  font-weight: 500;
}
.btn-outline-success:hover {
  color: #fff;
  background-color: #569851;
  border-color: #28a745;

}
.nav-link {
  margin: 7px 9px;
}

.nav-link:hover {
}
.Logo {
  height: 40px;
  width: 50px;
  padding: 0px 5px;
  border-radius: 3px;
  margin: 0px 2px;
  background-color: #1dd949;
}
.btn-outline-success{
  border: none;
}
.MenuItm{
  margin: 0px 3px;
}
.Deflt{
  color: #cec9d2;
  font-weight: 500;
}
.nav-link{
  color: #b1b1b1;
}
.btn{
  border: none;
}
