.foter{
  position: fixed;
  bottom: 0;
  z-index: 1020;
  width: 50%;
  height: 45px;
  background-color: rgba(0, 0, 0, 0.55);
  left: 25%;
  border-radius: 6px;
  margin-bottom: 2px;
}
.pgcontainer {
  margin: 4px 0;
}
