.title {
  padding: 10px 1px 0px 0px;
}
.title a,
a:hover {
  font-family: "Arial Rounded MT Bold" "Bell MT";
  font-weight: 700;
  line-height: 1em;
  color: black;
  text-decoration: none;
  border-bottom: 2px solid rgba(119, 128, 117, 0.77);
}

.Mycontainer {
  border-left: 1px solid rgba(119, 128, 117, 0.3);
  border-right: 1px solid rgba(119, 128, 117, 0.3);
}
.store h5 {
  padding-top: 3px;
  padding-left: 15px;
}
.store img {
  margin-left: -20px;
}
.comments {
  text-decoration: underline;
}

.MainTempl {
  border-bottom: 2px solid rgba(0, 0, 0, 0.8);
  border-style: none none dotted none;
}
.TemplBott {
  margin-top: -23px;
}
.TemplCenter {
  margin-top: -8px;
}
