<div class="container">
  <div class="Ctitle">
    <h2>{{title}}</h2>
  </div>
  <div class="row TemplBott">
    <div class="col-sm-4 comments">
      <h5>By {{by}}</h5>
    </div>
    <div class="justify-content-center col-sm-4 time">
      <h5> {{time}} </h5>
    </div>
    <div class="offset-sm-1 col-sm-3 CommentsStore row justify-content-end">
      <img src="../../assets/img/_ionicons_svg_md-star.svg" alt="star Icon" height="30" width="30">
      <h5>{{score}}</h5>
    </div>
  </div>
  <div class="row text">
    <div [innerHTML]="text"></div>
  </div>
  <div class="Ctitle">
    <h3>Comments</h3>
  </div>
  <div *ngIf="CommentsStatus === true; else NullValCheck">
    <div class="CommentContainer" *ngFor="let items of Comments">
      <div class="item">
        <div class="row">
          <div class="col-sm-4 userIcon text-sm-center">
            <img src="../../assets/img/user.svg" alt="icon">
            <h4> By {{items.by}}</h4>
          </div>
          <div class="offset-sm-3 col-sm-5 time text-sm-right">
            <h5> {{items.time}}</h5>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 text">
            <div [innerHTML]="items.text"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #NullValCheck>
    <h5>No comments yet :(</h5>
  </ng-template>

</div>
